body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: sans-serif;
  background-color: #ffffff;
}

* {
    font-family: 'Montserrat', sans-serif !important;
    transition-duration: 0.25s !important;
}

.game-card {
    

}

.game-card-border {

}

.game-card:hover, .game-card-border:hover{
    transform: translate(1px , -100px);
}

.game-card-no-shadow:hover{
    transform: translate(1px , -15px);
}

.game-card-glow {
    z-index:6;
}

.game-card-glow:hover {
    z-index:6;
    -webkit-filter: drop-shadow(1px 1px 0 rgb(255, 255, 255)) 
                    drop-shadow(-1px -1px 0 rgb(255, 255, 255));
    filter:drop-shadow(1px 1px 0 rgb(255, 255, 255)) 
           drop-shadow(-1px -1px 0 white);
}


.policy, .lightDropShadow, .policy-tool-tip {
    -webkit-box-shadow: 4px 4px 11px -3px rgba(0,0,0,0.41);
    -moz-box-shadow: 4px 4px 11px -3px rgba(0,0,0,0.41);
    box-shadow: 4px 4px 11px -3px rgba(0,0,0,0.41);
}

.policy-tool-tip {
    font-size: 11px !important;
    padding: 5px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    font-weight: bold !important;
    transition-duration: 0.25s !important;
}

.center-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.center-row > *
{
    margin-left: 5px;
}

.tooltop-round {
    border-radius: 20px;
    transition-duration: 0.25s !important;
}
