@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');

body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: sans-serif;
  background-color: #ffffff;
}

* {
    font-family: 'Noto Sans SC', sans-serif;
    transition-duration: 0.15s !important;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-column-reverse {
    display: flex;
    flex-direction: column-reverse;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-grow {
    flex-grow: 1;
}

.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.align-start {
    align-items: flex-start;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.align-between {
    align-items: space-between;
}

.pad-small {
    padding: 8px;
}

.pad-medium {
    padding: 11px;
}

.pad-large {
    padding: 18px;
}

.margin-small {
    margin: 8px;
}

.margin-medium {
    margin: 11px;
}

.margin-large {
    margin: 18px;
}

.gap-small {
    gap: 6px;
}

.gap-medium {
    gap: 11px;
}

.gap-large {
    gap: 21px;
}

.custom-textarea {
    resize: none;
    border: none;
    background: none;
    border: none;
    outline: none;
}

.custom-textarea:focus {
    border: none;
    outline: none;
}

.textarea-button {
    padding: 5px !important;
    border-radius: 5px;
}


.textarea-button:hover {
    
    background-color: #dedede;
}

.custom-button {
    background-color: #68b1e6 !important;
}
.custom-button:hover {
    background-color: #4b9cd5 !important;
}